################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wdd230/FileContentIndex/a2099a7b-7934-4062-8ab4-b403ef313e5c.vsidx
