* {
    margin: auto;
    background-color: black;
    font-family: "IM Fell Double Pica SC";
    color: crimson;
}

.im-fell-double-pica-sc-regular {
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    font-style: normal;
}