* {
    margin: auto;

    font-family: "IM Fell Double Pica SC";

    max-width: 960px;
}

html, button {
    color: crimson;
    background-color: black;
}

.im-fell-double-pica-sc-regular {
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: crimson;
}

#banner {
    position: absolute;
    top: 20px;
    background-color: black;
    max-width: 960px;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: large;
}

#banner button {
    float: right;
}

#banner.open {
    display: none
}

header {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

#menu {
    font-size: 42px;
    font-family: monospace;
    border: none;
}

#menu:hover{
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    display: none;
}

nav a {
    width: 100%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav.open {
    display: grid;
}

nav a:hover, #cards a:hover {
    color: white;
}

main h1 {
    text-align: center;
}

#hero {
    position: relative;
}

#hero img {
    width:640px;
    height: 237px;
}

#hero a {
    position: absolute;
    top: 50px;
    left: 100px;
    height: 40px;
    width: 150px;
    border: crimson solid;
    font-size: x-large;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    }

#weather {
    grid-column: 2 /3;
}

.sections #cards {
    grid-row: 1 / 3;
}

#imgSection {
    display: grid;
    text-align: center;
    width: 350px;
}

#imgSection img {
    max-width: 340px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
    width: 80%;
    grid-gap: 10px;
}

#weather h2 {
    grid-column: 1 / 3;
}

.end {
    padding-bottom: 10px;
}

#gridlist {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

#cards {
    text-align: center;
}

#cards a {
    text-decoration: none;
}

#false {
    display: none;
}

a:hover #true {
    display: none;
}

a:hover #false {
    display: block;
    text-align: center;
}
.grid {
    display: grid;
}

.grid section {
    width: 200px;
    height: 300px;
}

.grid span {
    display: none;
}

.grid p {
    text-align: center;
    width: 200px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
	display: grid;
	padding: 0.25rem;
    height: 100px;
    width: 350px;
}

.list a {
    color: black;
    text-align: center;
}

.list section:nth-child(even) {
	background-color: orangered;
    color: black;
}

.list section:nth-child(odd) {
	background-color: lightcoral;
    color: black;
}

.list > * {
    display: flex;
    flex-direction:row
}

.list > * > * {
    padding: 0 20px;
}

.list img {
    display: none;
}

form {
    width: 100%
}

.sections input, .sections select, .sections textarea {
    display: block;
    width: 90%;
    margin: 10px 3% 20px 3%;
}

input:required {
    border-right: solid 8px red;
}

input:required:valid {
    border-right: solid 8px green;
}

footer {
    padding-top: 15px;
}