* {
    margin: auto;

    font-family: "IM Fell Double Pica SC";

    max-width: 960px;
}

html, button {
    color: crimson;
    background-color: black;
}

.im-fell-double-pica-sc-regular {
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: crimson;
}

header {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

#menu {
    font-size: 42px;
    font-family: monospace;
    border: none;
}

#menu:hover{
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    display: none;
}

nav a {
    width: 100%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav.open {
    display: grid;
}

nav a:hover, #cards a:hover {
    color: white;
}

main h1 {
    text-align: center;
}

#hero {
    position: relative;
}

#hero img {
    width:640px;
    height: 250px;
}

#hero a {
    position: absolute;
    top: 50px;
    left: 100px;
    height: 40px;
    width: 150px;
    border: crimson solid;
    font-size: x-large;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    }

#imgSection {
    display: grid;
    text-align: center;
    width: 635px;
}

#imgSection img {
    width: 100%;
    margin-bottom: 30px;
}

.end {
    padding-bottom: 10px;
}

#cards a {
    text-decoration: none;
}

#false {
    display: none;
}
 

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid span {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list a {
    color: black;
}

.list section:nth-child(even) {
	background-color: orangered;
    color: black;
}

.list section:nth-child(odd) {
	background-color: lightcoral;
    color: black;
}

.list > * {
    display: flex;
    flex-direction:row
}

.list > * > * {
    padding: 0 20px;
}

.list img {
    display: none;
}

form {
    width: 100%
}

.sections input, .sections select, .sections textarea {
    display: block;
    width: 90%;
    margin: 10px 3% 20px 3%;
}

input:required {
    border-right: solid 8px red;
}

input:required:valid {
    border-right: solid 8px green;
}

footer {
    padding-top: 15px;
}