@media screen and (min-width: 640px){
    nav, nav.open {
        display: flex;
        justify-content: space-around;
    }

    #sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 10px;
    }

    #menu {
        display: none;
    }
}