@media screen and (min-width: 400px){
    nav, nav.open {
        display: flex;
        justify-content: space-around;
    }

    #sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 10px;
    }

    #menu {
        display: none;
    }

    #image {
        font-size: xxx-large;
        left: 120px;
        top: 85px;
    }

    iframe {
        width: 960px;
    }
}